/*标题开始*/

#maincontent .title
{
	text-align: center;
}

#maincontent .title p.entitle
{
	font-size: 16px;
	color: #000;
	padding-top: 52px;
}

#maincontent .title p.zhtitle
{
	font-size: 18px;
	color: #000;
	font-weight: bold;
}

#maincontent .title h1
{
	font-size: 22px;
	color: #D43B33;
	padding: 20px 0;
}

/*标题结束*/

.videowraper
{
	width: 874px;
	height:482px;
	background-color:#000;
	margin: 0 auto;
	margin-bottom: 50px;
}

.videowraper .tv
{
	float: left;
	width:626px ;
	height:482px;
}
.videowraper ul
{
	float: left;
	width:238px ;
	height:482px;
	border-left:solid 2px #fff;
}

.videowraper ul li
{
	line-height: 30px;
	padding-left: 10px;
	
}
.videowraper ul li a
{
	color: #fff;
}
